.footer {
    position: relative;
    background-image: url(../images/footer-background.png);
    background-color: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 32px 0;
}

.footer::before,
.footer::after {
    position: absolute;
    content: '';
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: 0;
}

.footer::before { 
    background-image: url(../images/two-breads.png);
    width: 180px;
    height: 120px;
    left: 0;
}

.footer::after {
    background-image: url(../images/bread.png);
    width: 380px;
    height: 190px;
    right: 0
}

.footer-container {
    display: flex;
    gap: 20px;
}

.footer-nav {
    display: flex;
    flex-basis: 50%;
    gap: 20px;
}

.footer-address {
    display: flex; 
    flex-basis: 50%;
    gap: 20px;
}

.address-link {
    font-size: 16px;
    font-weight: 300;
    color: var(--color-primary-light);
    text-decoration: none;
    margin-bottom: 16px;
}

.address-link:hover {
    color: var(--color-brand-normal);
}

.address-copyright {
    font-size: 14px;
    color: var(--color-secondary-dark);
    margin-bottom: 0;
}

.address-icon {
    fill: var(--color-primary-light)
}

.address-icon:hover {
    fill: var(--color-brand-normal)
}

.social-media {
    display: flex;
    gap: 22px;
    margin-bottom: 0;
}

.logo-footer,
.address-link-copyright,
.menu-footer,
.address-info {
    flex-grow: 1;   
}

.address-link-copyright,
.menu-footer .link.contacts {
    margin-bottom: 0;
}

.menu-footer .link{
    margin-bottom: 16px;   
}