.traditions-text .limited {
    max-width: 365px;
}
.traditions-text .uppercase{
    text-transform: uppercase;
}

.traditions-text .brand {
    color: var(--color-brand-normal);
    font-weight: 600;
}

.traditions-section {
    margin-bottom: 42px;
}

.traditions-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.traditions-content {
    max-width: 710px;
}